<div class="wrapper">
    <div class="forecast" *ngIf='forecast'>
        <h1>{{cityName}}</h1>
        <img src={{forecast.iconUrl}} alt="iconUrl" />
        <p>Temperature - {{forecast.temp}}</p>
        <span *ngIf='!show' (click)="handleClickDetails()">Show details</span>
        <span *ngIf='show' (click)="handleClickDetails()">Hide details</span>
        <weather-details *ngIf='show'              
            [pressure]="forecast.pressure"
            [humidity]="forecast.humidity"
            [windSpeed]="forecast.windSpeed"
        ></weather-details>
    </div>
</div>